

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hunter Gather</h1>
    <p class="lead">Find who to <s>bother</s> network with to get on Product Hunt</p>
  </div>
</header>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p class="lead">Disclaimer: we make no guarantees that the individuals returned by this tool will be 1) available, 2) interested, 3) interesting</p>
      <p class="lead">Use responsibly, nobody likes an annoying asshole</p>
      <form role="form-horizontal">
  <div class="form-group">
        <div class="col-lg-3">
          <input type="text" ng-model="project" class="form-control" placeholder="Product Name" maxlength="40">
      </div>
    <div class="col-lg-3">
          <input type="text" ng-model="address" class="form-control" placeholder="Product Website">
      </div>
    <div class="col-lg-3">
    <input type="text" ng-model="selected.category" typeahead="state as state.name for state in categories | filter:{name:$viewValue} | limitTo:8" typeahead-min-length="2" class="form-control" placeholder="Product Category">
    </div>
        <div class="col-lg-3">
  <button type="submit" class="btn btn-primary btn-block" ng-click="hunt()" ng-disabled="selected === undefined || selected.category === undefined || project === undefined || address === undefined"><i class="fa fa-fw fa-search"></i> Find hunters</button>
      </div>
  </div>
</form>
      
    
      
<!--
      <ul class="nav nav-tabs nav-stacked col-lg-6" ng-repeat="thing in posts">
        <li><a href="#" tooltip="{{thing.tagline}}">{{thing.name}}</a></li>
      </ul>
-->
    </div>
    <div class="col-lg-12" ng-show="!showLoad && !showResults">
      <h2>How to use</h2>
      <p>Pick the best category for your project. We try to find hunts in that category and show you everyone relevant to those hunts. Accounts with no evidence they can hunt products (no posts, comments, or maker credits) are excluded.</p>
      <table class="table text-center">
        <tr>
          <th>Reading the table</th>
          </tr>
        <tr class="success">
          <td>Has hunted products in this category.</td>
        </tr>
        
        <tr class="info">
          <td>Makers, though maybe not a maker in your category.</td>
        </tr>
        
        <tr>
          <td>Normal people.</td>
        </tr>
        
        <tr class="warning">
          <td>Rarely active, or very new (low comment/vote counts).</td>
        </tr>
        
      </table>
    </div>
    <div class="col-lg-12" ng-show="showLoad">
      <h2 class="text-center"><i class="fa fa-fw fa-spin fa-spinner"></i> Gathering hunters...</h2>
    </div>
    <div class="col-lg-12" ng-show="!showLoad && showResults && !showError">
      <h2>Results!</h2>
      <table class="table text-center">
        <tr>
          <th></th>
        <th>Name</th>
          <th>Twitter</th>
          <th>Product Hunt</th>
          <th>Category votes</th>
          </tr>
        <tr ng-repeat="person in results | unique:id | orderBy:['posted', 'maker_of_count', 'posts_count', 'comments_count', 'votes_count']:reverse | limitTo:50" ng-class="{'success': person.posted > 0, 
          'info': (person.maker_of_count !== 0 && person.posted === 0),
          'warning': (person.posts_count <= 4 && person.comments_count <= 15 && person.maker_of_count === 0)}">
          <td><img ng-src="{{person.image}}" class="avatar"></td>
        <td>{{person.name}}</td>
          <td><a ng-href="https://twitter.com/intent/tweet?text=Hey @{{person.username}}! I made a {{selected.category.name}} product called {{project}} I think you'd like.&via=phgather&url={{address}}" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></td>
          <td><a ng-href="https://producthunt.com/{{person.username}}" target="_blank">P</a></td>
         <td class="text-center">{{votecount[person.id]}}</td>
        </tr>
        <tr ng-show="results.length === 0">
        <td><i class="fa fa-fw fa-spin fa-spinner"></i></td>
        <td colspan="4">Loading rows...</td></tr>
      </table>
    </div>
    <div class="col-lg-12" ng-show="showError">
      <h2>No results :(</h2>
<p>Either our data set sucks, or you need to try a different category.</p>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Made by <a href="http://twitter.com/rudeboot">boots</a> and <a href="http://twitter.com/actualhop">hop</a></p>
  </div>
</footer>
