

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Hunter Gather</h1>
    <p class="lead">Find who to <s>bother</s> network with to get on Product Hunt</p>
  </div>
</header>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p class="lead">Disclaimer: we make no guarantees that the individuals returned by this tool will be 1) available, 2) interested, 3) not robots</p>
      <form role="form-horizontal">
  <div class="form-group">
    <div class="col-sm-4">
    <input type="text" ng-model="selected.category" typeahead="state as state.name for state in categories | filter:{name:$viewValue} | limitTo:8" typeahead-min-length="2" class="form-control" placeholder="Your Product Category">
    </div>
    <div class="col-sm-4">
          <input type="text" ng-model="selected.location" class="form-control" placeholder="Your HQ Location">
      </div>
        <div class="col-sm-4">
  <button type="submit" class="btn btn-primary btn-block" ng-click="hunt()" ng-disabled="selected === undefined || selected.category === undefined || selected.location === undefined"><i class="fa fa-fw fa-search"></i> Find hunters</button>
      </div>
  </div>
</form>
      
    
      
<!--
      <ul class="nav nav-tabs nav-stacked col-lg-6" ng-repeat="thing in posts">
        <li><a href="#" tooltip="{{thing.tagline}}">{{thing.name}}</a></li>
      </ul>
-->
    </div>
    <div class="col-lg-12" ng-show="showLoad">
      <h2 class="text-center"><i class="fa fa-fw fa-spin fa-spinner"></i> Gathering hunters...</h2>
    </div>
    <div class="col-lg-12" ng-show="!showLoad && showResults">
      <h2>Results!</h2>
      <table class="table text-center">
        <tr>
        <th>Name</th>
          <th>Twitter</th>
          <th>Product Hunt</th>
<!--          <th>Match %</th>-->
          </tr>
        <tr ng-repeat="person in results |orderBy:comments_count">
        <td>{{person.name}}</td>
          <td><a ng-href="https://twitter.com/{{person.username}}" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></td>
          <td><a ng-href="https://producthunt.com/{{person.username}}" target="_blank">P</a></td>
<!--          <td class="text-center">{{person}}%</td>-->
        </tr>
      </table>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Made by <a href="http://twitter.com/rudeboot">boots</a> and <a href="http://twitter.com/actualhop">hop</a></p>
  </div>
</footer>
